#container {
  margin: 0 auto;
  text-align: center;
  width: 80vw;
}

#container, #container input {
  font-size: 24px;
}

#container input {
  width: 240px;
}

#container div {
  margin: 40px;
}

#logo {
  width: 200px;
}

.value {
  font-weight: bold;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
}